<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Bros Server</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="framework/bootstrap-4.5.2-dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div id="app">
        <header>
            <div id="particles-js"></div>
            <nav class="navbar-light bg-sky">
                <center>
                    <a class="navbar-brand" href="index.htnl" target="_blank">
                        <div class="d-none d-sm-block">
                            <img src="img/world_bros.png" class="d-inline-block float-left logo" alt="" loading="lazy">
                        </div>
                        <h1 class="text-right title">World Bros Server</h1>
                    </a>
                </center>
            </nav>
        </header>
        <main class="container">
            <div class="row">

                <!-- Grid esquerda -->
                <div class="col-sm-3 mb-3">
                    <menu-lateral></menu-lateral>
                </div>
                <!-- Grid central -->
                <div class="col-lg">
                    <h3>Suporte</h3>
                    <form>
                        <div class="row">
                            <div class="form-group col">
                                <label for="nameUser">Nick name</label>
                                <input v-model="dadosMensagemSuporte.nick" type="text" class="form-control"
                                    id="nameUser" required>
                            </div>
                            <div class="form-group col">
                                <label for="assunto">Assunto da mensagem</label>
                                <input v-model="dadosMensagemSuporte.assunto" type="text" class="form-control"
                                    id="assunto" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mensageUser">Mensagem</label>
                            <textarea v-model="dadosMensagemSuporte.mensagem" class="form-control" id="mensageUser"
                                rows="3" required></textarea>
                        </div>
                        <div class="form-group form-check">
                            <input v-model="dadosMensagemSuporte.authentication" type="checkbox"
                                class="form-check-input" id="exampleCheck1" required>
                            <label class="form-check-label" for="exampleCheck1">Marque aqui para proseguir</label>
                        </div>
                        <button v-bind:disabled="dadosMensagemSuporte.botaoEnviarSupote" v-on:click="submitToSuporte"
                            class="btn btn-primary">Enviar</button>
                    </form>
                </div>

                <!-- Grid direita -->
                <div class="col-sm-1"></div>
            </div>
        </main>
        <footer class="bg-sky p-4">
            <div class="row container text-white">
                <div class="col-lg">
                    <h2 class="title">World Bros Server</h2>
                    <script src="https://minecraftpocket-servers.com/embed.js?id=103480&type=votes"></script>
                </div>
                <div class="col">
                    <h4>Contato <span class="material-icons">
                            perm_phone_msg
                        </span></h4>
                    <ul>
                        <li>E-mail server: <a v-bind:href="'mailto:' + contatos.emailServidor"
                                target="_blank">{{contatos.emailServidor }}</a>
                        </li>
                        <li>E-mail developer: <a
                                v-bind:href="'mailto:' + contatos.emailDesenvolvedor + '?body=Nick Jogador: ______'"
                                target="_blank">{{contatos.emailDesenvolvedor}}</a></li>
                        <li>Discord: <a v-bind:href="'https://' + contatos.enderecoDiscord"
                                target="_blank">{{contatos.enderecoDiscord}}</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <script src="framework/popper/popper.min.js"></script>
    <script src="framework/jquery/jquery-3.5.1.min.js"></script>
    <script src="framework/bootstrap-4.5.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="framework/vueJs/vue.js"></script>
    <script src="framework/particles.js-master/particles.js"></script>
    <script src="js/script.js"></script>
</body>

</html>